.table-container {
  width: 81%;
  /* width :90% */
  height: 100%;
  background-color: #F9F9F9;
  transition: margin-left 0.3s ease
}

.margin_left{
	margin-left:230px;
	/* margin-left:90px; */
	}
  .boldHeader {
    font-weight:900;
    font-size: 14px;
    color: #010c16;
  }
  .custom-progress-bar .progress-bar {
    background-color: #546e7a;
  }
  /* ::-webkit-scrollbar-thumb {
    background: #50A060;
} */
.bg-secondaire{
  color: #072645 !important;
  background:  #d8e9fb!important;
  border-color: #d8e9fb!important ;

}
/***************************Liste inventaire etiquettes style***************************/
  .status-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
  }

  .scanned-badge {
    background-color: #68A357;
    color: white;
  }

  .not-scanned-badge {
    background-color: #DB504A;
    color: white;
  }
  .status-badge .icon {
    margin-right: 4px;
  }
/************************ PlanPage buttons style ******************************/
  .action-button {
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid #333333;
    color: #333333;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* .action-button:hover {
    background-color: #e5e5e5;
  } */
  
  .edit-button {
    border-color: #0f3e6c;
    color: #FFF;
    background-color: #0f3e6c;
  }
  
  .edit-button:hover {
    border-color: #072645;
    color: #072645;
    background-color: #CFE8FF
  }
  
  .delete-button {
    border-color: #DB504A;
    color: #FFF;
    background-color: #d55753;
  }

  
  .delete-button:hover {
    border-color: #DB504A;
    color: #dc3545;
    background-color: #ffe6e6;
  }
  
  .details-button {
    border-color: #f0c768;
    color: #FFF;
    background-color: #f0c768;
  }
/*   
  .details-button {
    border-color: #f1cb73;
    color: #f1cb73;
    background-color: #fff3e6;
  } */
  
  .details-button:hover {
    border-color: #f1cb73;
    color: #f1cb73;
    background-color: #fff3e6;
  }